aside{
    border: 1px solid #dfdedc;
    padding: 10px 20px;
    h3{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        color: #ed1c24;
        margin-bottom: 15px;
    }
    h4{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: #5d9089;
        margin-bottom: 10px;
    }
    ul{
        padding: 0;
        list-style-position: inside;
        li{
            font-size: 15px;
            color: #626262;
            cursor: pointer;
        }
    }
    .box-cores{
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        div{
            height: 25px;
            width: 40px;
            margin-right: 3px;
            cursor: pointer;
        }
        .bg-vermelho{
            background: #ed1c24;
        }
        .bg-laranja{
            background: #f36324;
        }
        .bg-azul{
            background: #28a3aa;
        }
    }
}