.breadcrumb{
    background-color: #fff;
    padding: 15px 0;
    ol{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        li{
            margin-right: 5px;
            font-size: 12px;
            a{
                color: #000;
            }
            &:last-child{
                a{
                    color: #ed1c24;
                }
            }
        }
    }
}