header {
    width: 100%;

    .topo {
        background-color: #231f20;
        padding: 5px 0;

        .box-links {
            text-align: right;

            a {
                color: #fff;
                text-decoration: underline;
                font-size: 12px;
            }

            span {
                color: #fff;
                font-size: 12px;
            }
        }

        @media only screen and (max-width: 768px) {
            .box-links {
                text-align: center;

                a {
                    font-weight: 700;
                }
            }
        }
    }

    .principal-header {
        padding: 20px 0;
    }

    .box-logo {
        float: left;

        span.slogan {
            font-size: 9px;
            position: absolute;
            bottom: 0;
            color: #615e5e;
            font-weight: 500;
        }
    }

    .box-pesquisar {
        float: right;

        form {
            button {
                background: #ed1c24;
                color: #fff;
                font-weight: 900;
                text-transform: uppercase;
                border: 0;
                padding: 10px;
                font-size: 14px;
                margin: 0;
                height: 40px;
            }

            input[type="text"] {
                background: #fff;
                margin: 0;
                padding: 0 15px;
                min-width: 300px;
                border: 1px solid #9c9797;
                height: 40px;
                font-size: 14px;
                font-weight: 400;
                margin-right: -4px;
            }
        }

        form.form-mobile {
            @media only screen and(max-width: 768px) {
                position: fixed;
                z-index: 2;
                top: 130px;
                left: 0;
                right: 0;
                display: flex;

                input[type=text] {
                    min-width: auto;
                    flex: 1;
                }
            }
        }
    }

    .navegacao {
        background: #ed1c24;
        padding: 15px 0;

        nav {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;

                li {
                    margin-right: 30px;

                    a {
                        text-transform: uppercase;
                        font-weight: 900;
                        color: #fff;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        @media only screen and(max-width: 768px) {
            display: none;
        }
    }

    .navegacao-mobile {
        @media only screen and(max-width: 768px) {
            display: flex;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            height: calc(100% - 130px);

            #menu-site {
                display: flex;
                flex-direction: column;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

}


// menu
.grid-menu-logo-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box-abrir-menu {
        display: none;
    }

    .box-abrir-pesquisa {
        display: none;
    }

    @media only screen and(max-width: 768px) {
        .box-abrir-menu {
            display: flex;
            align-items: center;

            svg {
                color: #000;
            }
        }

        .box-pesquisar {
            float: none;

            .box-abrir-pesquisa {
                display: flex;

                svg {
                    color: #ed1c24;
                }
            }

            form {
                display: none;
            }
        }
    }
}