.list-products{
    width: 100%;
    h2{
        color: #ed1c24;
        border-bottom:  1px solid #dfdedc;
        padding-bottom: 10px;
        width: 100%;
         margin-bottom: 15px;
    }
    .box-type-grid-order{
        border-bottom:  1px solid #dfdedc;
        display: flex;
        .box-type-grid{
            margin-right: auto;
            a{
                margin-right: 10px;
                color:  #797979;
            }
            a.ativo{
                color: #80bdb8;
            }
        }
    }

    .box-order{
        label{
            color: #797979;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
        }
        select {
            border-radius: 5px;
            font-size: 13px;
            border: 1px solid #dfdedc;
            padding: 0 5px;
        }
    }
   
}
.box-item-produto{
    margin: 10px 0;
    .box-img{
        border: 1px solid #dfdedc;
        background: #fff;
    max-width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
        img{
            max-width: 100%;       
        }
    }
   .content{
    h3{
        text-align: center;
        color:  #797979;
        font-size: 18px;
        text-transform: uppercase;
        min-height: 75px;
        padding: 15px 0;
        margin: 0;
    }
    h4{
        text-align: center;
        color: #ed1c24;
        font-weight: bold;
    }
    a.comprar{
        width: 100%;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        background: #80bdb8;
        color: #fff;
        transition: 0.2ms;
        &:hover{
            transition: 0.2ms;
            background: #fff;
            color: #80bdb8;
            border: 1px solid #80bdb8;
        }
    }
   }
    
}