* {
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
}
header .topo {
  background-color: #231f20;
  padding: 5px 0;
}
header .topo .box-links {
  text-align: right;
}
header .topo .box-links a {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
}
header .topo .box-links span {
  color: #fff;
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  header .topo .box-links {
    text-align: center;
  }
  header .topo .box-links a {
    font-weight: 700;
  }
}
header .principal-header {
  padding: 20px 0;
}
header .box-logo {
  float: left;
}
header .box-logo span.slogan {
  font-size: 9px;
  position: absolute;
  bottom: 0;
  color: #615e5e;
  font-weight: 500;
}
header .box-pesquisar {
  float: right;
}
header .box-pesquisar form button {
  background: #ed1c24;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  border: 0;
  padding: 10px;
  font-size: 14px;
  margin: 0;
  height: 40px;
}
header .box-pesquisar form input[type=text] {
  background: #fff;
  margin: 0;
  padding: 0 15px;
  min-width: 300px;
  border: 1px solid #9c9797;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  margin-right: -4px;
}
@media only screen and (max-width: 768px) {
  header .box-pesquisar form.form-mobile {
    position: fixed;
    z-index: 2;
    top: 130px;
    left: 0;
    right: 0;
    display: flex;
  }
  header .box-pesquisar form.form-mobile input[type=text] {
    min-width: auto;
    flex: 1;
  }
}
header .navegacao {
  background: #ed1c24;
  padding: 15px 0;
}
header .navegacao nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
header .navegacao nav ul li {
  margin-right: 30px;
}
header .navegacao nav ul li a {
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}
header .navegacao nav ul li a:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 768px) {
  header .navegacao {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header .navegacao-mobile {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: calc(100% - 130px);
  }
  header .navegacao-mobile #menu-site {
    display: flex;
    flex-direction: column;
  }
  header .navegacao-mobile #menu-site li {
    margin-bottom: 10px;
  }
}

.grid-menu-logo-pesquisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-menu-logo-pesquisa .box-abrir-menu {
  display: none;
}
.grid-menu-logo-pesquisa .box-abrir-pesquisa {
  display: none;
}
@media only screen and (max-width: 768px) {
  .grid-menu-logo-pesquisa .box-abrir-menu {
    display: flex;
    align-items: center;
  }
  .grid-menu-logo-pesquisa .box-abrir-menu svg {
    color: #000;
  }
  .grid-menu-logo-pesquisa .box-pesquisar {
    float: none;
  }
  .grid-menu-logo-pesquisa .box-pesquisar .box-abrir-pesquisa {
    display: flex;
  }
  .grid-menu-logo-pesquisa .box-pesquisar .box-abrir-pesquisa svg {
    color: #ed1c24;
  }
  .grid-menu-logo-pesquisa .box-pesquisar form {
    display: none;
  }
}

.breadcrumb {
  background-color: #fff;
  padding: 15px 0;
}
.breadcrumb ol {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.breadcrumb ol li {
  margin-right: 5px;
  font-size: 12px;
}
.breadcrumb ol li a {
  color: #000;
}
.breadcrumb ol li:last-child a {
  color: #ed1c24;
}

aside {
  border: 1px solid #dfdedc;
  padding: 10px 20px;
}
aside h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #ed1c24;
  margin-bottom: 15px;
}
aside h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #5d9089;
  margin-bottom: 10px;
}
aside ul {
  padding: 0;
  list-style-position: inside;
}
aside ul li {
  font-size: 15px;
  color: #626262;
  cursor: pointer;
}
aside .box-cores {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
aside .box-cores div {
  height: 25px;
  width: 40px;
  margin-right: 3px;
  cursor: pointer;
}
aside .box-cores .bg-vermelho {
  background: #ed1c24;
}
aside .box-cores .bg-laranja {
  background: #f36324;
}
aside .box-cores .bg-azul {
  background: #28a3aa;
}

.list-products {
  width: 100%;
}
.list-products h2 {
  color: #ed1c24;
  border-bottom: 1px solid #dfdedc;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.list-products .box-type-grid-order {
  border-bottom: 1px solid #dfdedc;
  display: flex;
}
.list-products .box-type-grid-order .box-type-grid {
  margin-right: auto;
}
.list-products .box-type-grid-order .box-type-grid a {
  margin-right: 10px;
  color: #797979;
}
.list-products .box-type-grid-order .box-type-grid a.ativo {
  color: #80bdb8;
}
.list-products .box-order label {
  color: #797979;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
}
.list-products .box-order select {
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #dfdedc;
  padding: 0 5px;
}

.box-item-produto {
  margin: 10px 0;
}
.box-item-produto .box-img {
  border: 1px solid #dfdedc;
  background: #fff;
  max-width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.box-item-produto .box-img img {
  max-width: 100%;
}
.box-item-produto .content h3 {
  text-align: center;
  color: #797979;
  font-size: 18px;
  text-transform: uppercase;
  min-height: 75px;
  padding: 15px 0;
  margin: 0;
}
.box-item-produto .content h4 {
  text-align: center;
  color: #ed1c24;
  font-weight: bold;
}
.box-item-produto .content a.comprar {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  background: #80bdb8;
  color: #fff;
  transition: 0.2ms;
}
.box-item-produto .content a.comprar:hover {
  transition: 0.2ms;
  background: #fff;
  color: #80bdb8;
  border: 1px solid #80bdb8;
}
